<section class="about">
  <h2>Experience</h2>
  <div class="box">
    <ul id="first-list">

      <li>
        <span></span>
        <div class="title">Software Engineer, Axiata Digital Labs, Sri Lanka</div>
        <div class="info">
          <ul>
            <li>Specialized in full stack development for a large-scale digital transformation platform, serving 7
              enterprise clients.
            </li>
            <li>Frontend: Angular | Backend: Spring Boot.</li>
            <li>Drove end-to-end feature development, from architecture discussions and business analysis to
              development, testing, and deployment.
            </li>
            <li>Designed and implemented reusable frontend libraries, published to a private Nexus repository for
              seamless application-wide integration.
            </li>
            <li>Spearheaded a major version upgrade for the entire frontend ecosystem, including all associated
              libraries.
            </li>
            <li>Actively contributed to bug resolution and feature enhancements within a web-based platform with
              multiple components, collaborating across offshore and onsite Scrum teams.
            </li>
            <li>Used Jenkins for automated deployments and managed developer releases, ensuring smooth transitions to QA
              environments.
            </li>
            <li>Worked in an Agile environment, delivering high-impact features and solutions in two-week sprints.</li>
            <li>Tech Stack: Angular, TypeScript, Spring Boot, RDBMS (SQL), HTML, CSS \ SCSS, jenkins, git</li>
          </ul>
        </div>
        <div class="time">
          <span>July 2023</span>
          <span>Oct 2024</span>
        </div>
      </li>

      <li>
        <span></span>
        <div class="title">Research and Development Engineer - Intern, VeroxLabs Pvt Ltd, Sri Lanka</div>
        <div class="info">
          <ul>
            <li>Engaged in prototyping and enclosure modelling bio-medical electronic devices for a growing start up in
              Sri Lanka.
            </li>
            <li>Developed C-based firmware for a Bluetooth adapter to enable device connectivity in the TMP1000 Dual
              Channel Digital Thermometer.
            </li>
            <li>Developed a mobile application using Flutter for real time data visualization which is transmitted from
              TMP1000 Dual Channel Digital Thermometer via Bluetooth.
            </li>
            <li>Conducted circuit and electronic fault testing for the Glass Measuring Tool, which measures the
              temperature of the Heated Glass Stage used in IVF procedures.
            </li>
          </ul>
        </div>
        <div class="time">
          <span>Jan 2022</span>
          <span>July 2022</span>
        </div>
      </li>

    </ul>
  </div>

  <h2>Education</h2>
  <div class="box">
    <ul id="second-list">

      <li>
        <span></span>
        <div class="title">B.Sc. Engineering (Hon’s) - Biomedical Engineering, University of Moratuwa, Sri Lanka</div>
        <div class="info">
          <ul>
            <li>CGPA: 3.74 (First Class)</li>
            <li>Coursework: Modular Software Development, Machine Vision, Embedded Systems</li>
          </ul>
        </div>
        <div class="time">
          <span>Oct 2018</span>
          <span>July 2023</span>
        </div>
      </li>

    </ul>
  </div>
</section>
