<section class="contact">
  <h2>Contact Me</h2>
  <div class="contact-detail">
    <div class="detail"><i class="fas fa-phone tel-bg icon"></i><span style="margin-left: 20px">+61435791086</span></div>
    <div class="detail"><i class="fas fa-envelope gmail-bg icon"></i><span style="margin-left: 20px">{{ 'hashinimithunika98@gmail.com' }}</span></div>
    <div class="detail"><i class="fas fa-map-marker-alt tel-bg icon"></i><span style="margin-left: 20px">{{ '9 Burke Ln, Balwyn North, VIC 3104' }}</span></div>
  </div>

  <div class="social-media">
    <div (click)="navigate('https://www.linkedin.com/in/hashini-mithunika/')" class="media"><i
      class="fab fa-linkedin linkedin-bg icon"></i></div>
    <div (click)="navigate('https://github.com/HashiniMithunika')" class="media"><i class="fab fa-github git-bg icon"></i></div>
    <div (click)="navigate('https://x.com/Hashini_Wasala')" class="media"><i class="fab fa-x-twitter x-bg icon"></i></div>
  </div>
</section>
