<!-- src/app/home/home.component.html -->
<section class="home">
  <div class="banner-container">
    <!--    <img src="assets/222.jpg" class="banner" alt="Banner image">-->
    <img src="assets/Hashini Mithunika.jpg" class="overlay-image" alt="Overlay image">
    <p>Motivated Software Engineer with 1.5+ years of industry experience delivering efficient solutions using Angular,
      Spring Boot, SQL, HTML, CSS, Jenkins, and Flutter. Skilled in collaborating in a growing team to meet technical
      and enterprise goals. Quick learner with a passion for new technologies, seeking challenging opportunities to
      further expand my expertise, and thrive in a collaborative and innovative environment.</p>
  </div>


  <div class="blog-card">
    <div class="meta">
      <div class="photo"
           style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
      <ul class="details">
        <li class="author"><a href="#">Hashini Mithunika</a></li>
        <li class="date">Nov. 20, 2024</li>
        <!--        <li class="tags">-->
        <!--          <ul>-->
        <!--            <li><a href="#">Learn</a></li>-->
        <!--            <li><a href="#">Code</a></li>-->
        <!--            <li><a href="#">HTML</a></li>-->
        <!--            <li><a href="#">CSS</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
      </ul>
    </div>
    <div class="description">
      <h2>Optimizing Frontend Performance in Large-Scale Applications</h2>
      <p> Learn practical techniques to optimize the performance of large-scale frontend applications, including lazy
        loading, AOT compilation, state management, and resource optimization, ensuring a seamless user experience.</p>
      <p class="read-more" (click)="readMore('./performance')">Read More
      </p>
    </div>
  </div>


  <!--  <div class="blog-card alt">-->
  <!--    <div class="meta">-->
  <!--      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>-->
  <!--      <ul class="details">-->
  <!--        <li class="author"><a href="#">Jane Doe</a></li>-->
  <!--        <li class="date">July. 15, 2015</li>-->
  <!--        <li class="tags">-->
  <!--          <ul>-->
  <!--            <li><a href="#">Learn</a></li>-->
  <!--            <li><a href="#">Code</a></li>-->
  <!--            <li><a href="#">JavaScript</a></li>-->
  <!--          </ul>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--    <div class="description">-->
  <!--      <h1>Mastering the Language</h1>-->
  <!--      <h2>Java is not the same as JavaScript</h2>-->
  <!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>-->
  <!--      <p class="read-more">-->
  <!--        <a href="#">Read More</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <h1>Hashini Mithunika</h1>-->
</section>
<!--<p>jdhf</p>-->
